<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Tech Blog for Everyone</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>
<body>
  <header class="bg-primary p-2">
    <h1 class="text-light">The World's Best Tech Blog</h1>
      <nav>
    <a href="/">Home</a> | 
    {{#if logged_in}}
    <a href="/dashboard">Dashboard</a> | 
    <button class="no-button" id="logout">Log Out</button>
    {{else}}
    <a href="/login">Log In</a>
    {{/if}}
  </nav>
  </header>
  <main class="p-2">
    {{{ body }}}
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>